<!--======= Top bar starts =======-->
<div class="top-nav">
  <div class="container">

    <div class="row">
      <!-- Social Icon -->
      <div class="col-xs-12">
        <a class="navbar-brand" href="#"><img src="assets/logo.png" alt="logo"></a>

        <ul class="right_ul" style="margin-top:-5px;">
          <li id="welcome_id">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Welcome {{userName}}
                <i class="fa fa-user"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdown">
                <li><a (click)="onLogout()">Logout</a></li>
              </ul>
            </div>
            <!-- <div class="dropdown" id="admin-dd">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
                Welcome QAUser1 <i class="fa fa-user" aria-hidden="true" id="admin-user"></i>
              </button>
              <ul class="dropdown-menu" id="welcome_show" aria-labelledby="dropdownMenu" id="admin-drop">
                <li><a href="#">Logout</a></li>
              </ul>
            </div> -->
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
<!--======= Top bar ends =======-->