<header class="header" id="nav">
  <div class="container" id="container-fullwidth">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="assets/logo.png" alt="logo"></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <li>
            <a routerLink="/pages"><i class="btn btn-icon fa fa-building-o" aria-hidden="true"></i>
              OC List</a>
          </li>
          <li>
            <a routerLink="/pages/oc-history"><i class="btn btn-icon fa fa-share-alt-square" aria-hidden="true"></i>
              OC Archives</a>
          </li>
          <li>
            <a routerLink="/pages/oc-list/scan-oc"><i class="btn btn-icon fa fa-tasks" aria-hidden="true"></i>
              OC Track</a>
          </li>
          <li>
            <a routerLink="/pages/oc-upload"><i class="fa fa-files-o" aria-hidden="true"></i>
              OC Documents</a>
          </li>
          <li>
            <a routerLink="/pages/dashboard"><i class="fa fa-dashboard" aria-hidden="true"></i>
              Dashboard</a>
          </li>
          <li>
            <a routerLink="/pages/oc-search"><i class="fa fa-search" aria-hidden="true"></i>
              OC Search</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>