<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-hd">{{header}}</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal mt-5 ml-5 mr-5">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-sm-4 ">OC Number</label>
              <div class="col-sm-8">
                {{ocObj.OCNumber}}
                <!-- <input type="text" (keypress)="numberOnly($event)" name="num" [(ngModel)]="ocObj.OCNumber"
                      class="form-control"> -->
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 ">Priority</label>
              <div class="col-sm-8">
                {{ocObj.Priority.name}}
                <!-- <select name="ocPriority" class="form-control" [(ngModel)]="ocObj.Priority._id"
                      (change)="onPriorityChange()">
                      <option value="">Select Priority</option>
                      <option *ngFor="let priority of priorityList" [value]="priority._id">{{priority.name}}</option>
                    </select> -->
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 ">Customer Name</label>
              <div class="col-sm-8">
                {{ocObj.Customer.name}}
                <!-- <input type="text" name="name" [(ngModel)]="ocObj.Customer.name" class="form-control"> -->
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 ">Customer Address</label>
              <div class="col-sm-8">
                {{ocObj.Customer.city}}
                <!-- <textarea type="text" name="address" [(ngModel)]="ocObj.Customer.city" class="form-control"></textarea> -->
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 ">Notes</label>
              <div class="col-sm-8">
                {{ocObj.OCNotes}}
                <!-- <textarea type="text" name="notes" [(ngModel)]="ocObj.OCNotes" class="form-control"></textarea> -->
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 ">Installation Date</label>
              <div class="col-sm-8">
                {{ocObj.Installation.installationDate}}
                <!-- <textarea type="text" name="notes" [(ngModel)]="ocObj.OCNotes" class="form-control"></textarea> -->
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 ">Invoice Date</label>
              <div class="col-sm-8">
                {{ocObj.Installation.invoiceDate}}
                <!-- <textarea type="text" name="notes" [(ngModel)]="ocObj.OCNotes" class="form-control"></textarea> -->
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 ">Invoice Number</label>
              <div class="col-sm-8">
                {{ocObj.Installation.invoiceNumber}}
                <!-- <textarea type="text" name="notes" [(ngModel)]="ocObj.OCNotes" class="form-control"></textarea> -->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-sm-4 ">OC Date</label>
              <div class="col-sm-8">
                {{ocObj.OCDate}}
                <!-- <input type="date" class="form-control" [(ngModel)]="ocObj.OCDate" name="date" data-toggle="tooltip"
                      data-trigger="hover" data-placement="top" data-title="Date Opened"> -->
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 ">Customer Phone</label>
              <div class="col-sm-8">
                {{ocObj.Customer.contactNumber}}
                <!-- <input type="text" name="phone" [(ngModel)]="ocObj.Customer.contactNumber"
                      (keypress)="numberOnly($event)" class="form-control"> -->
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 ">Customer Type</label>
              <div class="col-sm-8">
                {{ocObj.CustomerType.name}}
                <!-- <select name="ocPCustomerType" class="form-control" [(ngModel)]="ocObj.CustomerType._id"
                      (change)="onCustomerTypeChange()">
                      <option value="">Select Customer Type</option>
                      <option *ngFor="let customer_type of customerTypeList" [value]="customer_type._id">
                        {{customer_type.name}}</option>
                    </select> -->
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 ">Branch Name</label>
              <div class="col-sm-8">
                {{ocObj.BranchID.name}}
                <!-- <select name="ocBranch" class="form-control" [(ngModel)]="ocObj.BranchID._id"
                      (change)="onBranchChange()">
                      <option value="">Select Branch</option>
                      <option *ngFor="let branch of branchList" [value]="branch._id">{{branch.name}}</option>
                    </select> -->
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 ">Product</label>
              <div class="col-sm-8">
                {{ocObj.ProductID.name}}
                <!-- <select name="ocProduct" class="form-control" [(ngModel)]="ocObj.ProductID._id"
                      (change)="onProductChange()">
                      <option value="">Select Product</option>
                      <option *ngFor="let product of productList" [value]="product._id">{{product.name}}</option>
                    </select> -->
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 ">Installation Technician</label>
              <div class="col-sm-8">
                {{ocObj.Installation.installationTechnician}}
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 ">Technician Contact</label>
              <div class="col-sm-8">
                {{ocObj.Installation.technicianContact}}
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 ">Transport</label>
              <div class="col-sm-8">
                {{ocObj.Installation.transport}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" *ngFor="let qr of scanList">
            <div class="form-group">
              <label class="col-sm-4 ">{{qr.name}}</label>
              <div class="col-sm-8">
                <qrcode [qrdata]="qr.code" [size]="70" [level]="'M'"></qrcode>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <ng2-smart-table class="table table-striped table-bordered table-hover table-responsive mt-4"
            [settings]="settings" [source]="source"></ng2-smart-table>
        </div>
        <div class="row float-right">
          <button type="button" class="btn btn-primary btn-asset  mb-5" (click)="onClose()">Cancel
          </button>
        </div>
        <br>
      </form>
    </div>
  </div>
</div>