<section class="script">
  <div class="container">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-hd">OCSearch</h3>
      </div>
      <div class="panel-body" id="panel-list">

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="row">
              <label class="col-sm-5 control-label">OC Number</label>
              <div class="col-sm-7">
                <input type="text" name="numb" (change)="onOcNumberChange()" placeholder="OC Number"
                  [(ngModel)]="OCNumber" class="form-control">
              </div>
            </div>

            <div class="row">
              <label class="col-sm-5 control-label">Invoice Number</label>
              <div class="col-sm-7">
                <input type="text" name="invNumb" (change)="onInvNumberChange()" placeholder="Invoice Number"
                  [(ngModel)]="invoiceNumber" class="form-control">
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 control-label">Doctor Name</label>
              <div class="col-sm-7">
                <input type="text" name="name" (change)="onNameChange()" placeholder="Doctor Name" [(ngModel)]="docName"
                  class="form-control">
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="row">
              <label class="col-sm-5 control-label">Customer LandLine Number</label>
              <div class="col-sm-7">
                <input type="text" name="landline" (change)="onLandlineChange()" placeholder="Customer LandLine Number"
                  [(ngModel)]="customerLandLineNumber" class="form-control">
              </div>
            </div>
            <div class="row">
              <label class="col-sm-5 control-label">Customer Mobile Number</label>
              <div class="col-sm-7">
                <input type="text" name="mobile" (change)="onMobileChange()" placeholder="Customer Mobile Number"
                  [(ngModel)]="customerMobileNumber" class="form-control">
              </div>
            </div>
            <div class="row">
              <button type="button" class="btn btn-primary btn-asset float-right" (click)="onResetFilter()">
                Cancel
              </button>
              <button type="button" class="btn btn-primary btn-asset float-right" (click)="onSearch()">
                Search
              </button>
            </div>
          </div>

        </div>
        <!-- <div class="row">
          <button type="button" class="btn btn-primary btn-asset float-right" (click)="onResetFilter()">Reset Filters
          </button>
        </div> -->

        <ng2-smart-table class="table table-striped table-bordered table-hover table-responsive" [settings]="settings"
          [source]="source"></ng2-smart-table>

      </div>
    </div>
  </div>
</section>