<section class="script">
  <div class="container">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-hd">OC Track</h3>
      </div>
      <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="panel-body" id="panel-list">
          <div class="row col-md-12">

            <label class="col-sm-3 col-md-2 control-label">OC Number</label>
            <div class="col-sm-4 col-md-4">
              <input type="text" name="numb" placeholder="OC Number" [(ngModel)]="searchOcNo" class="form-control">
            </div>
            <div class="col-md-2">
              <button type="button" *ngIf="!qrCodeFlag" class="btn btn-primary btn-asset submit"
                (click)="onSubmit()">Submit
              </button>
            </div>

            &nbsp;
            <div class="col-md-2">
              <button type="button" *ngIf="!qrCodeFlag" class="btn btn-primary btn-asset" (click)="onBack()">Back
              </button>
            </div>
          </div>

          <!-- <div class="row col-md-12" *ngIf="showTimeLine"> -->
          <div class="timeline" *ngIf="showTimeLine">
            <div class="container left">
              <div class="content">
                <h4>QA Team</h4>
                <br>
                <p>
                  <span>QA Date : {{qaTeamObj?.Date}}</span>
                </p>
                <p>
                  <span>Owner : {{qaTeamObj.UserName}}</span>
                </p>
                <p>
                  <span>Product Code : {{product}}</span>
                </p>
                <p>
                  <span>Customer : {{customerName}}</span>
                </p>
                <p>
                  <span>Location : {{location}}</span>
                </p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h4>Sales Team</h4>
                <br>
                <p>
                  <span>Invoice Date : {{salesTeamObj.Date}}</span>
                </p>
                <p>
                  <span>Owner : {{salesTeamObj.UserName}}</span>
                </p>
                <p>
                  <span>Product Code : {{product}}</span>
                </p>
                <p>
                  <span>Customer : {{customerName}}</span>
                </p>
                <p>
                  <span>Location : {{location}}</span>
                </p>
              </div>
            </div>
            <div class="container left">
              <div class="content">
                <h4>Branch</h4>
                <br>
                <p>
                  <span>Received Date : {{branchTeamObj.Date}}</span>
                </p>
                <p>
                  <span>Owner : {{branchTeamObj.UserName}}</span>
                </p>
                <p>
                  <span>Product Code : {{product}}</span>
                </p>
                <p>
                  <span>Customer : {{customerName}}</span>
                </p>
                <p>
                  <span>Location : {{location}}</span>
                </p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h4>Customer</h4>
                <br>
                <p>
                  <span>Installation Date : {{customerObj.installedDate}}</span>
                </p>
                <p>
                  <span>Installed By : {{customerObj.installedBy}}</span>
                </p>
                <p>
                  <span>Product Code : {{product}}</span>
                </p>
                <p>
                  <span>Customer : {{customerName}}</span>
                </p>
                <p>
                  <span>Location : {{location}}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- </div> -->
</section>