/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

.errors {
  color: red;
  font-size: 13px;
}

.success {
  color: green;
  font-size: 13px;
}

:host table tr,
td,
th {
  font-size: 1.25em !important;
}

.form-group.required .control-label:after {
  content: "*";
  color: red;
}

@media print {
  .isPrinting>* {
    display: none;
  }
}